:root {
  --body-background-color: #f7f7f8;
  --app-background-color: #dbe7c9;
  --heading-color: #323d24;
  --primary-color: #50623a;
  --link-color: #789461;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--font-family);
}

main {
  padding: 30px 0;
}

.App {
  background-color: var(--app-background-color);
  color: var(--primary-color);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
}
